.App {
  width: 360px;
  height: 510px;
  background-color: #d86141;
  color: #ffffff;
  font-size: 12px;
  margin: 40px auto;
  border: 1px solid #d86141;
  border-radius: 5px;
  padding: 20px 10px;
}

.App footer {
  margin-top: 15px;
  text-align: center;
  color: #000000;
}
