.Weather h1 {
  font-size: 24px;
  text-align: center;
}

.Weather .Temp {
  padding: 5px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
}

.Weather .Conditions {
  text-align: right;
}

.Weather .Units {
  position: relative;
  top: -8px;
}

.Weather .Units a {
  color: #ffffff;
  text-decoration: none;
}

.Weather a:hover {
  font-weight: bolder;
}

.Weather p {
  margin-top: 10px;
  line-height: 15px;
}

.Weather .Current {
  text-align: center;
  height: 200px;
}

.Weather img {
  margin-bottom: 10px;
}
